#nav-trigger {
    color: #009688 !important;
    font-size: 36px;
    padding-left: 5%;
    text-decoration: none;
}

.btn-close {
    font-size: 24px;
}

.offcanvas {
    width: 75% !important;
}

.offcanvas-nav {
    font-size: 32px;
    padding: 0;
}

.offcanvas li {
    font-size: 32px !important;
}

.offcanvas-nav a {
    text-decoration: none;
}

.offcanvas i {
    padding-right: 5px;
}

#name {
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
}

.name-title {
    line-height: 20px;
    padding-left: 15%;
}

/* Bootstrap makes all sections have a padding top and bottom
of 1rem so I just ignore it. */
.section {
    padding: 0;
}

#intro {
    background-image: url('https://spencerproject.com/assets/img/profile.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 150% 100%;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    padding-top: 25%;
}

#intro h1 {
    font-weight: 300;
}

#intro h1 span {
    font-weight: 500;
}

#intro span.teal {
    padding: 0 10px
}

.underline {
    border-bottom: 5px solid #009688;
}

#about .page-title {
    font-size: 40px;
    font-weight: 200;
    text-transform: uppercase;
}